[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = collective.dewplayer

extensions = mr.developer
auto-checkout = collective.portlet.itemview

parts+=omelette

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[instance]
eggs+=collective.portlet.itemview

[sources]
collective.portlet.itemview = git git://github.com/collective/collective.portlet.itemview.git
